@page
@model CandidateModel
@{
    ViewData["Title"] = Model.TitlePage;   

      var arraysource = new List<crmHuman.Model.SelectDisplay>()
        {
            new Model.SelectDisplay()
            {
                Code ="1", Name ="Facebook"
            },
            new Model.SelectDisplay()
            {
            Code ="2", Name ="Web"
            },
            new Model.SelectDisplay()
            {
            Code ="3", Name ="Form"
            },
            new Model.SelectDisplay()
            {
              Code ="5", Name ="khác"
            },
             new Model.SelectDisplay()
            {
              Code ="6", Name ="HCNS"
            }
        };
    string GetNameSource(string code, dynamic iteminfo1)
        {
            if (string.IsNullOrEmpty(code) || code == "0")
            {
                return iteminfo1.AuthorName;
            }
            
            if( code =="6")
            {
                return "HCNS";
            }

            if(Model.UserData.RoleCode !="4")
            {
                return "Marketing";
            }
            string temp = "";
            foreach (var item in arraysource)
            {
                if (item.Code == code.ToString())
                {
                    temp = item.Name;
                    break;
                }
            }
            return temp;
        }
}
<div class="pagetitle">
    <h1>@Model.TitlePage</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="/Employee">Nhân viên</a></li>
            <li class="breadcrumb-item active">Danh sách</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
            
                    @{
                      Html.RenderPartial("formSearch/searchFormCandidate", Model);
                    }

                   
                    <table class="table  table-striped">
                        <thead>
                            <tr>
                                @foreach (var item in Model.TableColumnText)
                                {
                                    <th>
                                        @item
                                    </th>
                                }     
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 0;
                            }

                            @if( Model.DataAll != null)
                            @foreach (var itemData in Model.DataAll.Data)
                            {
                                var itemInfo = itemData as dynamic;
                                var datetimeCreate = @itemInfo.CreateAt.ToString("dd/MM/yyyy HH:mm");
                                var datetimeUpdate = "";
                                if (@itemInfo.UpdateAt != null)
                                {
                                    datetimeUpdate = @itemInfo.UpdateAt.ToString("dd/MM/yyyy HH:mm");
                                }
                                i++;
                    
                                <tr>
                                    <td>@i</td>
                                    <td><a href="javascript:void(0)" onclick="openFormEdit(@itemInfo.Id,'@Model.KeyPage')">@itemInfo.Name</a></td>
                                    <td>@Model.PhoneToXXX(itemInfo.Phone)</td>
                                     <td>@itemInfo.SourceName</td>
                                    <td>@datetimeCreate</td>
                                    <td>@datetimeUpdate</td>
                                    <td>
                                        <a href="javascript:void(0)" onclick="confirmDelete(@itemInfo.Id,'candidate')"><i class="bi bi-trash-fill"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @{
                        Html.RenderPartial("formSearch/pagination", Model);
                    }
                        
                    
                </div>
            </div>

        </div>
    </div>
</section>

<div class="modal fade" id="formModal" tabindex="-1" >
    <div class="modal-dialog  modal-dialog-centered modal-xl" >
        <div class="modal-content" id="contentModal">
        </div>
    </div>
</div><!-- End Large Modal-->

<div class="modal fade" id="exampleModalCenter" tabindex="-1" >
 <div class="modal-dialog  modal-dialog-centered modal-lg" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Nhập Người tạo</h5>
      </div>
      <div class="modal-body">
                    <div class="col-12 form-group">
                        <label class="form-label">Chọn file excel</label>
                        <input type="file"  id = "fileImport" class="form-control" required placeholder="" />
                        <div class="invalid-feedback-cs">
                        </div>
                            
                    </div>
      </div>
      <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="closeForm()" >Đóng</button>
                <button type="button" class="btn btn-primary" onclick="UploadImage1()">Import</button>
      </div>
    </div>
  </div>
</div>

<script>
   var groupSearch = "@Model.RequestSearch.GroupId";
   var memberSearch = "@Model.RequestSearch.MemberId";
   
   
   var extraSearchRequest  = {groupSearch,memberSearch};

</script>